; storage written at Mon Feb 11 22:04:18 2019
camera/elev/down=175
camera/elev/up=80
camera/elev/mid=125
camera/rudd/front=54
camera/rudd/back=260
camera/rudd/mid=148
wheels/cal/fr/steer/pwm_pin=21
wheels/cal/fr/steer/en_pin=20
wheels/cal/fr/steer/dir=1
wheels/cal/fr/deg/dir=-1
wheels/cal/fr/deg/0=135
wheels/cal/fr/deg/-90=69
wheels/cal/fr/deg/90=249
wheels/cal/fr/deg/servo=5
wheels/cal/fr/deg/i2c=2
wheels/cal/fr/speed/dir=1
wheels/cal/fr/speed/240=126
wheels/cal/fr/speed/0=146
wheels/cal/fr/speed/addr=WHL01
wheels/cal/fr/speed/300=88
wheels/cal/fr/speed/-0=156
wheels/cal/fr/speed/servo=4
wheels/cal/fr/speed/-300=214
wheels/cal/fr/speed/-240=185
wheels/cal/br/steer/pwm_pin=16
wheels/cal/br/steer/en_pin=12
wheels/cal/br/steer/dir=1
wheels/cal/br/deg/dir=-1
wheels/cal/br/deg/0=200
wheels/cal/br/deg/-90=69
wheels/cal/br/deg/90=257
wheels/cal/br/deg/servo=7
wheels/cal/br/deg/i2c=8
wheels/cal/br/speed/dir=1
wheels/cal/br/speed/240=185
wheels/cal/br/speed/0=156
wheels/cal/br/speed/addr=WHL02
wheels/cal/br/speed/300=214
wheels/cal/br/speed/-0=145
wheels/cal/br/speed/servo=6
wheels/cal/br/speed/-300=88
wheels/cal/br/speed/-240=126
wheels/cal/pid/i=0.3500000000000002
wheels/cal/pid/d=0.060000000000000005
wheels/cal/pid/deadband=1.0
wheels/cal/pid/g=5.0
wheels/cal/pid/p=0.6000000000000001
wheels/cal/fl/steer/pwm_pin=26
wheels/cal/fl/steer/en_pin=19
wheels/cal/fl/steer/dir=-1
wheels/cal/fl/deg/dir=-1
wheels/cal/fl/deg/0=350
wheels/cal/fl/deg/-90=71
wheels/cal/fl/deg/90=163
wheels/cal/fl/deg/servo=1
wheels/cal/fl/deg/i2c=4
wheels/cal/fl/speed/dir=1
wheels/cal/fl/speed/240=126
wheels/cal/fl/speed/0=145
wheels/cal/fl/speed/addr=WHL03
wheels/cal/fl/speed/300=88
wheels/cal/fl/speed/-0=156
wheels/cal/fl/speed/servo=0
wheels/cal/fl/speed/-300=214
wheels/cal/fl/speed/-240=185
wheels/cal/bl/steer/pwm_pin=13
wheels/cal/bl/steer/en_pin=6
wheels/cal/bl/steer/dir=-1
wheels/cal/bl/deg/dir=-1
wheels/cal/bl/deg/0=138
wheels/cal/bl/deg/-90=67
wheels/cal/bl/deg/90=249
wheels/cal/bl/deg/servo=3
wheels/cal/bl/deg/i2c=1
wheels/cal/bl/speed/dir=-1
wheels/cal/bl/speed/240=185
wheels/cal/bl/speed/0=156
wheels/cal/bl/speed/addr=WHL04
wheels/cal/bl/speed/300=214
wheels/cal/bl/speed/-0=145
wheels/cal/bl/speed/servo=2
wheels/cal/bl/speed/-300=88
wheels/cal/bl/speed/-240=126
shutdown/pin=-
